<div style="background-color: #000;" class="footer">
  <div class="container">
    <a class="twitter-follow" rel="publisher" href="https://twitter.com/abhishek_jaisw">
      Follow @abhishek_jaisw on Twitter
    </a>

    <section class="meta">
      <a href="https://github.com/abhishek-jaiswal" class="block">
        <i class="fa fa-github fa-3x"></i>
      </a>
      <a href="https://plus.google.com/+abhishekjaiswalabhishek" rel="publisher" class="block">
        <i class="fa fa-google-plus-square fa-3x"></i>
      </a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="block">
          <i class="fa fa-rss-square fa-3x"></i>
      </a>
    </section>

    <div style="clear: both"></div>
  </div>
</div>
